h1 = @host.name

h4 CPU usage
.alert.alert-info This feature is part of the roadmap and it is still not implemented.

h4 Load average
.alert.alert-info This feature is part of the roadmap and it is still not implemented.

h4 Memory usage
.alert.alert-info This feature is part of the roadmap and it is still not implemented.

h4 Disk usage
.alert.alert-info This feature is part of the roadmap and it is still not implemented.

h4 Disk I/O
.alert.alert-info This feature is part of the roadmap and it is still not implemented.

h4 Network I/O
.alert.alert-info This feature is part of the roadmap and it is still not implemented.

h4 Processes
.alert.alert-info This feature is part of the roadmap and it is still not implemented.
